*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

.nav-bar{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  background-color: deepskyblue;
}

.level{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.card {
  width: 20%;                 /* Set width of cards */
  border: 1px solid #EF9A9A;    /* Set up Border */
  border-radius: 4px;           /* Slightly Curve edges */
  overflow: hidden;             /* Fixes the corners */
  display: flex;                /* Children use Flexbox */
  flex-direction: column;       /* Rotate Axis */
  text-align: center;
}

.card-header {
  color: #D32F2F;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid #EF9A9A;
  background-color: #d0f8ff;
  padding: 5px 10px;
}

.card-main {
  display: flex;              /* Children use Flexbox */
  flex-direction: column;     /* Rotate Axis to Vertical */
  justify-content: center;    /* Group Children in Center */
  align-items: center;        /* Group Children in Center (+axis) */
  padding: 15px 0;            /* Add padding to the top/bottom */
}

.main-description {
  color: #3844f1;
  font-size: 16px;
  text-align: center;
}

.module-chart-box{
  height:100%;
  width:100%
}
