/* .home{
    display: flex;
    flex-direction: column;
}

.image-container{
    width: 1fr;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.image-container-img{
    width: 50%;
}

@media screen and (max-width:768px){
    .image-container-img{
        width: 100%;
    }
}
.text-container{
    width: 1fr;
    padding: 2em;
}

.text-container>h2{
    margin: 1em 0
}
.text-container> p{
    margin-top: 1em;
}
.text-container>ul{
    padding-left: 2em;
} */


.home{
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}

.hero{
    margin-top:2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text{
    font-size:max(1.6rem,6vw);
}

.hero-subtext{
    font-size:max(0.8rem,3vw);
}
.image-container-img{
    width:50%;
}