.module-chart-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80vw;
  margin: 5vw auto;
}

@media screen and (max-width:600px){
  .module-chart-box{
    height:80vw;
  }
}

.chart-info-area{
  margin-top: calc(150px + 5vh);
}
.chart-title{
  font-size: max(16px,2vw);
  text-align: center;
  color:white;
}

.legend{
  margin-top:1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.legend-item{
  padding:1em;
  color: black;
  font-size: max(12px,1vw);
  font-weight: 700;
  border: solid 1px black;
}

.perc_5th{
  background-color: #ff99ad;
}
.perc_25th{
  background-color: #f9fc55;
}
.perc_mean{
  background-color: white;
}

.perc_75th{
  background-color: #87e7fd;
}
.perc_95th{
  background-color: #8afd86;
}
