.nav-bar{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    background-color: deepskyblue;
    width: 100%;
  }


  @media screen and (max-width: 768px) {
     .nav-bar{
         flex-direction: column;
     }
}